node_modules
npm-debug.log
.next
.env
.env.local
.env.development
.env.production
.DS_Store
*.tsbuildinfo
SAFEHUB_DOCUMENTATION
installations
volumes
safehub-*-images.tar
safehub-*-images.txt
n8n-workflows